.aspect-1\/1 {
  aspect-ratio: 1;
}

.aspect-16\/9 {
  aspect-ratio: 16 / 9;
}

.aspect-auto {
  aspect-ratio: auto;
}

.aspect-unset, .aspect-\[unset\] {
  aspect-ratio: unset;
}

.aspect-\[16\/9\] {
  aspect-ratio: 16 / 9;
}

.container {
  width: 100%;
}

@media (width >= 640px) {
  .container {
    max-width: 640px;
  }
}

@media (width >= 720px) {
  .container {
    max-width: 720px;
  }
}

@media (width >= 768px) {
  .container {
    max-width: 768px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (width >= 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (width >= 1536px) {
  .container {
    max-width: 1536px;
  }
}

.columns-1 {
  columns: 1;
}

.columns-auto {
  columns: auto;
}

.columns-\[20rem\] {
  columns: 20rem;
}

.columns-\[320px\] {
  columns: 320px;
}

.columns-\[auto_1\] {
  columns: auto 1;
}

.break-before-auto {
  break-before: auto;
}

.break-before-unset, .break-before-\[unset\] {
  break-before: unset;
}

.break-inside-auto {
  break-inside: auto;
}

.break-inside-unset, .break-inside-\[unset\] {
  break-inside: unset;
}

.break-after-auto {
  break-after: auto;
}

.break-after-unset, .break-after-\[unset\] {
  break-after: unset;
}

.box-clone {
  box-decoration-break: clone;
}

.box-slice {
  box-decoration-break: slice;
}

.box-break-unset, .box-break-\[unset\] {
  box-decoration-break: unset;
}

.box-border {
  box-sizing: border-box;
}

.box-content {
  box-sizing: content-box;
}

.box-sizing-unset, .box-sizing-\[unset\] {
  box-sizing: unset;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-inline {
  display: inline;
}

.display-flex {
  display: flex;
}

.display-contents {
  display: contents;
}

.display-none {
  display: none;
}

.float-none {
  float: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-unset, .float-\[unset\] {
  float: unset;
}

.float-none {
  clear: none;
}

.float-left {
  clear: left;
}

.float-right {
  clear: right;
}

.float-both {
  clear: both;
}

.float-unset, .float-\[unset\] {
  clear: unset;
}

.isolate {
  isolation: isolate;
}

.isolation- {
  isolation: auto;
  isolation: unset;
}

.isolation-\[unset\] {
  isolation: unset;
}

.object-fill {
  object-fit: fill;
}

.object-contain {
  object-fit: contain;
}

.object-cover {
  object-fit: cover;
}

.object-scale-down {
  object-fit: scale-down;
}

.object-none {
  object-fit: none;
}

.object-unset, .object-\[unset\] {
  object-fit: unset;
}

.object-\[unset\] {
  object-position: unset;
}

.object-7 {
  object-position: 0% 0%;
}

.object-8 {
  object-position: 50% 0%;
}

.object-9 {
  object-position: 100% 0%;
}

.object-4 {
  object-position: 0% 50%;
}

.object-5 {
  object-position: 50% 50%;
}

.object-6 {
  object-position: 100% 50%;
}

.object-1 {
  object-position: 0% 100%;
}

.object-2 {
  object-position: 50% 100%;
}

.object-3 {
  object-position: 100% 100%;
}

.object-\[center_top\] {
  object-position: center top;
}

.object-\[50px_50\%\] {
  object-position: 50px 50%;
}

.object-unset {
  object-position: unset;
}

.overflow-auto {
  overflow: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-unset, .overflow-\[unset\] {
  overflow: unset;
}

.overflow-\[hidden_visible\] {
  overflow: hidden visible;
}

.overscroll-auto {
  overscroll-behavior: auto;
}

.overscroll-x-auto {
  overscroll-behavior-x: auto;
}

.overscroll-y-auto {
  overscroll-behavior-y: auto;
}

.overscroll-unset, .overscroll-\[unset\] {
  overscroll-behavior: unset;
}

.overscroll-\[auto_contain\] {
  overscroll-behavior: auto contain;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.position-, .position-\[unset\] {
  position: unset;
}

.left-1px {
  left: 1px;
}

.right-1px {
  right: 1px;
}

.bottom-1px {
  bottom: 1px;
}

.top-1px {
  top: 1px;
}

.inset-0 {
  inset: 0;
  inset: 0;
}

.-inset-1 {
  inset: -.25rem;
}

.inset-1 {
  inset: .25rem;
}

.inset-1px {
  inset: 1px;
}

.inset-1rem {
  inset: 1rem;
}

.inset-auto {
  inset: auto;
}

.inset-1\/1 {
  inset: 100%;
}

.inset-unset, .inset-\[unset\] {
  bottom: unset;
  left: unset;
  right: unset;
  top: unset;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.visible-unset, .visible-\[unset\] {
  visibility: unset;
}

.z-auto {
  z-index: auto;
}

.z-2333 {
  z-index: 2333;
}

.z-unset, .z-\[unset\] {
  z-index: unset;
}
