[data-tw-Q80HqbwTPyJ] {
  inset: 11px;
}

[data-tw-x0qbA7hLByP] {
  bottom: var(--value);
  left: var(--value);
  right: var(--value);
  top: var(--value);
}

[data-tw-Rvx7IuphQsS] {
  left: 11px;
  right: 11px;
}

[data-tw-EPGXXwQReCC] {
  left: var(--value);
  right: var(--value);
}

[data-tw-Ouh594yO0nY] {
  top: 11px;
  bottom: 11px;
}

[data-tw-jtPrkiZvToU] {
  bottom: var(--value);
  top: var(--value);
}

[data-tw-mdYIyaOyvdK] {
  top: 11px;
}

[data-tw-JzBegxrnhRK] {
  top: var(--value);
}

[data-tw-hjXgr43dsPQ] {
  right: 11px;
}

[data-tw-EHCPne6RPDX] {
  right: var(--value);
}

[data-tw-oAblbd5xozH] {
  bottom: 11px;
}

[data-tw-fKoXw4qK7cA] {
  bottom: var(--value);
}

[data-tw-J8lAZCGnFGA] {
  left: 11px;
}

[data-tw-d1FkWbfX9GW] {
  left: var(--value);
}

[data-tw-Lf71SXixJBJ] {
  z-index: 123;
}

[data-tw-PwI1sm5yAqZ] {
  z-index: var(--value);
}

[data-tw-JYNDVIVJ0ZO] {
  order: 4;
}

[data-tw-TY6lmlIrcsI] {
  order: var(--value);
}

[data-tw-tYAPQOQszsK] {
  grid-column: 1 / -1;
}

[data-tw-Ve3F0KJwwRA] {
  grid-row: 1 / -1;
}

[data-tw-K2vOd5wjKCQ] {
  margin: 7px;
}

[data-tw-wi4eaX9psvO] {
  margin-left: 7px;
  margin-right: 7px;
}

[data-tw-F95tMICWq7D] {
  margin-top: 7px;
  margin-bottom: 7px;
}

[data-tw-GaLjgVBLkQD] {
  margin-top: 7px;
}

[data-tw-bY2OX9j95SH] {
  margin-right: 7px;
}

[data-tw-ErtWZr3diDF] {
  margin-bottom: 7px;
}

[data-tw-ffTypYIIJIL] {
  margin-left: 7px;
}

[data-tw-rsLUkhFR5sW] {
  margin-top: clamp(30px, 100px);
}

[data-tw-DAev8uobugK] {
  aspect-ratio: var(--aspect);
}

[data-tw-uGiPPkI6bBD] {
  height: 3.23rem;
}

[data-tw-TRxp9Pch9BS] {
  height: calc(100%1rem);
}

[data-tw-n7q19KaRVjU] {
  height: var(--height);
}

[data-tw-Q5vbKXZnrzW] {
  max-height: 3.23rem;
}

[data-tw-Qje4nIs6DbT] {
  max-height: calc(100%1rem);
}

[data-tw-bFis65MVXIN] {
  max-height: var(--height);
}

[data-tw-nW1i94jfXNF] {
  min-height: 3.23rem;
}

[data-tw-v4plaiT4VEK] {
  min-height: calc(100%1rem);
}

[data-tw-h59OReYlPUS] {
  min-height: var(--height);
}

[data-tw-MulTrPkv8cB] {
  width: 0;
}

[data-tw-kmQo8HVtvnC] {
  width: 3.23rem;
}

[data-tw-MwZgfgeXssN] {
  width: calc(100%1rem);
}

[data-tw-hIEbXizYBlB] {
  width: calc(var(--10-10px, calc(-20px-(-30px--40px))) -50px);
}

[data-tw-ReVurbZCRWT] {
  width: var(--width);
}

[data-tw-s0YBNE0XuzW] {
  width: var(--width, calc(100%1rem));
}

[data-tw-dzE0mhxMHfC] {
  width: calc(100% / 3-1rem * 2);
}

[data-tw-L7cdQjkmMlM] {
  min-width: 3.23rem;
}

[data-tw-lTIoJdIRe4F] {
  min-width: calc(100%1rem);
}

[data-tw-B3WL48zAAKD] {
  min-width: var(--width);
}

[data-tw-kidNzgS2EFN] {
  max-width: 3.23rem;
}

[data-tw-OEUeXG9qcpG] {
  max-width: calc(100%1rem);
}

[data-tw-BJWwfGEN2SH] {
  max-width: var(--width);
}

[data-tw-O91LBZcEUvT] {
  flex: var(--flex);
}

[data-tw-y4rnfPIh6rF] {
  flex-shrink: var(--shrink);
}

[data-tw-DSnJnE2nZCE] {
  flex-grow: var(--grow);
}

[data-tw-tFTpAwduOdY] {
  flex-basis: var(--basis);
}

[data-tw-f99Qr7a9eTA] {
  transform-origin: 50px 50px;
}

[data-tw-wh97daGnl2D] {
  --tw-translate-x: 12%;
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

[data-tw-QqOefslXjhE] {
  --tw-translate-x: var(--value);
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

[data-tw-ShhpWTirMpF] {
  --tw-translate-y: 12%;
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

[data-tw-wyNzxM4wxER] {
  --tw-translate-y: var(--value);
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

[data-tw-wTe8twqgqBT] {
  --tw-rotate: 1.5turn;
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

[data-tw-kONOKkrqd4F] {
  --tw-skew-x: 3px;
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

[data-tw-tc6iAaRHKLM] {
  --tw-skew-x: var(--value);
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

[data-tw-yPHgWFKY75X] {
  --tw-skew-y: 3px;
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

[data-tw-qnFHdlh8NCD] {
  --tw-skew-y: var(--value);
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

[data-tw-DbdzBXps9wF] {
  --tw-scale-x: .7;
  --tw-scale-y: .7;
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

[data-tw-IyaGKjeDWhE] {
  --tw-scale-x: var(--value);
  --tw-scale-y: var(--value);
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

[data-tw-piTN8mjl1oS] {
  --tw-scale-x: .7;
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

[data-tw-PuN3oSkLMvT] {
  --tw-scale-x: var(--value);
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

[data-tw-gceJjBVTQiH] {
  --tw-scale-y: .7;
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

[data-tw-xTiTgzpSoEG] {
  --tw-scale-y: var(--value);
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

[data-tw-Lk5qKJElhSJ] {
  animation: 1s cubic-bezier(0, 0, .2, 1) infinite pong;
}

[data-tw-IRoEV3b6f9H] {
  animation: var(--value);
}

[data-tw-ylxgxMrlIjR] {
  scroll-margin: 7px;
}

[data-tw-G1GDMBaQR3W] {
  scroll-margin-left: 7px;
  scroll-margin-right: 7px;
}

[data-tw-E63cw0lBPSR] {
  scroll-margin-top: 7px;
  scroll-margin-bottom: 7px;
}

[data-tw-shyWWpkD5yQ] {
  scroll-margin-top: 7px;
}

[data-tw-Ikv5PwNI99T] {
  scroll-margin-right: 7px;
}

[data-tw-NkmVC3dexNC] {
  scroll-margin-bottom: 7px;
}

[data-tw-KrwWdR0j3VZ] {
  scroll-margin-left: 7px;
}

[data-tw-dIMZzXrkEaX] {
  scroll-margin-top: var(--scroll-margin);
}

[data-tw-lLSeUHqA0MC] {
  scroll-padding: 7px;
}

[data-tw-vemsPfB7FfO] {
  scroll-padding-left: 7px;
  scroll-padding-right: 7px;
}

[data-tw-avryJxKJIoU] {
  scroll-padding-top: 7px;
  scroll-padding-bottom: 7px;
}

[data-tw-VwHl4VA9IZB] {
  scroll-padding-top: 7px;
}

[data-tw-OR6g034cjtK] {
  scroll-padding-right: 7px;
}

[data-tw-MqM1T6jmdyG] {
  scroll-padding-bottom: 7px;
}

[data-tw-Jc8VNBlMbrJ] {
  scroll-padding-left: 7px;
}

[data-tw-yP0JeMrr5AL] {
  scroll-padding-top: var(--scroll-padding);
}

[data-tw-EcH9SVuJQ2A] {
  cursor: pointer;
}

[data-tw-eT4Lz5JGG0U] {
  cursor: url("hand.cur") 2 2, pointer;
}

[data-tw-FFFcsMzQ5jI] {
  cursor: url("./path to hand.cur") 2 2, pointer;
}

[data-tw-rWoIK0CeLjA] {
  cursor: var(--value);
}

[data-tw-Yxzuhw5GQRW] {
  list-style-type: "👍";
}

[data-tw-TdITvJ44y0V] {
  list-style-type: var(--value);
}

[data-tw-t5QMyPDSG2E] {
  columns: var(--columns);
}

[data-tw-RjEVbZ20TUR] {
  grid-auto-columns: minmax(10px, auto);
}

[data-tw-RKdrFrfvMzY] {
  grid-auto-rows: minmax(10px, auto);
}

[data-tw-U9dyTiaOhpP] {
  grid-template-columns: 200px, repeat(auto-fill, minmax(15%, 100px)), 300px;
}

[data-tw-RIWoTpPY6sQ] {
  grid-template-rows: 200px, repeat(auto-fill, minmax(15%, 100px)), 300px;
}

[data-tw-dDaHJDQt5OS] {
  gap: 20px;
}

[data-tw-FCHpuWb5uVF] {
  gap: var(--value);
}

[data-tw-WV7zOw4pxmJ] {
  column-gap: 20px;
}

[data-tw-geNjnc3ruMN] {
  column-gap: var(--value);
}

[data-tw-Oqo3siCR21Y] {
  row-gap: 20px;
}

[data-tw-itQBAqHwfoU] {
  row-gap: var(--value);
}

.space-x-\[20cm\] > * + * {
  margin-left: 20cm;
}

.space-x-\[calc\(20\%-1cm\)\] > * + * {
  margin-left: calc(20%-1cm);
}

.space-y-\[20cm\] > * + * {
  margin-top: 20cm;
}

.space-y-\[calc\(20\%-1cm\)\] > * + * {
  margin-top: calc(20%-1cm);
}

.divide-x-20cm > * + * {
  border-right-width: 20cmpx;
  border-left-width: 0;
}

.divide-x-calc\(20\%-1cm\) > * + * {
  border-right-width: calc(20%-1cm) px;
  border-left-width: 0;
}

.divide-y-20cm > * + * {
  border-top-width: 0;
  border-bottom-width: 20cmpx;
}

.divide-y-calc\(20\%-1cm\) > * + * {
  border-top-width: 0;
  border-bottom-width: calc(20%-1cm) px;
}

[data-tw-ruMgqASh2EX] {
  border-radius: 11px;
}

[data-tw-VdKu8gBG7nF] {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

[data-tw-k4DF9at4NOG] {
  border-color: red;
}

[data-tw-aW3t21W1YfF] {
  border-width: 2.5px;
}

[data-tw-Ll5lFoQ81YN] {
  border-top-color: red;
}

[data-tw-ummR2dkY0gN] {
  border-top-width: 2.5px;
}

[data-tw-Xe0gBJEmQzU] {
  border-right-color: red;
}

[data-tw-ezrPAerHEbP] {
  border-right-width: 2.5px;
}

[data-tw-EYZNZ1QX3CT] {
  border-bottom-color: red;
}

[data-tw-L5gjkHTNENC] {
  border-bottom-width: 2.5px;
}

[data-tw-z2NVXgoLeUM] {
  border-left-color: red;
}

[data-tw-VKDHwfKgLSY] {
  border-left-width: 2.5px;
}

[data-tw-tZ8Hl8pHwNG] {
  background-color: #00fc;
}

[data-tw-VwflDwh3UYX] {
  background-color: #7b7b7b80;
}

[data-tw-eKI3tWbSX3P] {
  background-color: #7bff7b black;
}

[data-tw-lbBuchZHPEB] {
  background-color: #7bffff;
}

[data-tw-V4675TEWglA] {
  background-color: #ff00004d;
}

[data-tw-CxCqebSv8tD] {
  background-color: #0f0 var(--value);
}

[data-tw-ty7l8WMJPoJ] {
  background-color: var(--value1) var(--value2);
}

[data-tw-DfmKYcu5wmB] {
  background-color: color:var(--value1) var(--value2);
}

[data-tw-A8pYUGQmOqA] {
  background-color: url:var(--url);
}

[data-tw-DjlghTCdftT] {
  background-color: linear-gradient(#eee, #fff);
}

[data-tw-N74W30UAjIT] {
  background-color: linear-gradient(#eee, #fff), conic-gradient(red, orange, yellow, green, blue);
}

[data-tw-Z7NGvj5o13R] {
  background-color: image(), var(--value);
}

[data-tw-s4OiuloBVXO] {
  background-color: var(--value), var(--value);
}

[data-tw-WiCWeGdeo7E] {
  background-color: image:var(--value), var(--value);
}

[data-tw-AGs5c1UtzjI] {
  --tw-gradient-from: #da5b66;
  --tw-gradient-stops: var(--tw-gradient-from), #da5b66, var(--tw-gradient-to, #da5b66);
  --tw-gradient-to: #da5b66;
}

[data-tw-EADU2fMtJHE] {
  --tw-gradient-from: var(--color);
  --tw-gradient-stops: var(--tw-gradient-from), var(--color), var(--tw-gradient-to, var(--color));
  --tw-gradient-to: var(--color);
}

[data-tw-ze3mzkaS4uL] {
  background-color: length:var(--value);
}

[data-tw-oiywnnWwJOY] {
  background-color: position:var(--value);
}

[data-tw-XQomgDKVuYF] {
  fill: #da5b66;
}

[data-tw-v6DjtES3Q4D] {
  fill: var(--value);
}

[data-tw-CMWfAkoOZ4O] {
  fill: url("#icon-gradient");
}

[data-tw-L3WcRlgAIPG] {
  object-position: 50%, 50%;
}

[data-tw-oLEeiZpYULA] {
  object-position: top, right;
}

[data-tw-utMgTCKJ7GS] {
  object-position: var(--position);
}

[data-tw-PLF9YXQWr6K] {
  padding: 7px;
}

[data-tw-IcpO4R1Sj5K] {
  padding-left: 7px;
  padding-right: 7px;
}

[data-tw-ArkuOdL0boJ] {
  padding-top: 7px;
  padding-bottom: 7px;
}

[data-tw-GYFKTRnroRF] {
  padding-top: 7px;
}

[data-tw-D1ZY8RDJNfE] {
  padding-right: 7px;
}

[data-tw-HRj8QdPJy6L] {
  padding-bottom: 7px;
}

[data-tw-D4M88IBU7zL] {
  padding-left: 7px;
}

[data-tw-g4OYrCHhncH] {
  padding-top: clamp(30px, 100px);
}

[data-tw-BIAodNhfSaR] {
  text-indent: var(--indent);
}

[data-tw-bUdq4Kk6GYK] {
  vertical-align: 10em;
}

[data-tw-VlpfbpsSuDE] {
  font-family: Georgia, serif;
}

[data-tw-GpNJArsh7UJ] {
  font-family: Gill Sans;
}

[data-tw-kEL44J1hgpW] {
  font-family: sans-serif, serif;
}

[data-tw-POn7vXcRWbP] {
  font-family: family-name:var(--value);
}

[data-tw-EZXRBPsr2PN] {
  font-family: serif, var(--value);
}

[data-tw-HDR9b3rTuFM] {
  font-family: Some Font, sans-serif;
}

[data-tw-N4oHq92ngAP] {
  font-family: Some Font, Some Other Font;
}

[data-tw-cM3yk3nMc8N] {
  font-family: "Some Font", var(--other-font);
}

[data-tw-Ov6EtnxaRgW] {
  font-family: var(--font1), var(--font2);
}

[data-tw-pXvcDBplJbQ] {
  font-family: invalid font because spaces;
}

[data-tw-VYgn0gZanaY] {
  font-size: 0;
}

[data-tw-c9lvy02o4bZ] {
  font-size: 2.23rem;
}

[data-tw-EaVYjHtEoXD] {
  font-size: length:var(--font-size);
}

[data-tw-KI8zBJV0roY] {
  font-size: angle:var(--angle);
}

[data-tw-IhvSTKLaXKA] {
  font-size: min(10vh, 100px);
}

[data-tw-aHQ8RSIMDUB] {
  font-weight: 300;
}

[data-tw-G1yOIPgEFDA] {
  font-family: number:lighter;
}

[data-tw-OXmexQzjvwU] {
  font-family: number:var(--value);
}

[data-tw-P2fVyUFlrmI] {
  line-height: var(--leading);
}

[data-tw-Y8DgVVPmJXS] {
  letter-spacing: var(--tracking);
}

[data-tw-yvdfrcNJECD] {
  font-size: black;
}

[data-tw-dw8ForTPsiU] {
  color: #7b7b7b;
}

[data-tw-Qvv8Q2WudbJ] {
  font-size: color:var(--color);
}

[data-tw-wE8xetWUoFG] {
  text-decoration: none;
}

[data-tw-zk7RQnmP8CP], [data-tw-kaeuEDlBlwT], [data-tw-Uf7twpaf3LJ] {
  text-decoration: none;
}

[data-tw-bTasEguHzwO] {
  text-decoration: color:var(--color);
}

[data-tw-gESP2phmmQP] {
  text-decoration: length:10px;
}

[data-tw-vALJ7wFkBGZ] {
  text-underline-offset: 10px;
}

[data-tw-ojNMZangqBO] {
  caret-color: #000;
}

[data-tw-FdpCVjkrAzM] {
  caret-color: var(--value);
}

[data-tw-cSZBub1Ca2Z] {
  accent-color: #bada55;
}

[data-tw-jM0j8yIZ3cC] {
  accent-color: var(--accent-color);
}

[data-tw-Ho2FMlSxBGS] {
  opacity: .5;
}

[data-tw-HVtsqYl6O9G] {
  box-shadow: 0 1px 2px #000;
}

[data-tw-w82Hec5DyYW] {
  box-shadow: shadow:var(--value);
}

[data-tw-blkWw7eEBjX] {
  outline-color: #000;
}

[data-tw-yP2tXpo6ApW] {
  outline-width: 10px;
}

[data-tw-E4CQAxrGB3O] {
  outline-color: color:var(--outline);
}

[data-tw-JAqIBrxTldG] {
  outline-color: length:var(--outline);
}

[data-tw-gAuANWrcaTT] {
  outline-offset: 10px;
}

[data-tw-RDu7FOLUOZH] {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(#76ad65 + var(--tw-ring-offset-width, 0px)) var(--tw-ring-color, currentColor);
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

[data-tw-LiN50lANEKZ] {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(color:var(--value)  + var(--tw-ring-offset-width, 0px)) var(--tw-ring-color, currentColor);
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

[data-tw-IqusBXo2whE] {
  --tw-ring-offset-color: #76ad65;
  --tw-ring-offset-shadow: var(--tw-ring-inset, ) 0 0 0 var(--tw-ring-offset-width, 0px) #76ad65;
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow, 0 0 #0000);
}

[data-tw-xtd1t6sF6iW] {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(10px + var(--tw-ring-offset-width, 0px)) var(--tw-ring-color, currentColor);
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

[data-tw-ugqQbbRm2LI] {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(length:(var(--value))  + var(--tw-ring-offset-width, 0px)) var(--tw-ring-color, currentColor);
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

[data-tw-KXMHwmIXSdW] {
  --tw-ring-offset-color: #ad672f;
  --tw-ring-offset-shadow: var(--tw-ring-inset, ) 0 0 0 var(--tw-ring-offset-width, 0px) #ad672f;
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow, 0 0 #0000);
}

[data-tw-icQorpWTnJO] {
  --tw-ring-offset-color: color:var(--value);
  --tw-ring-offset-shadow: var(--tw-ring-inset, ) 0 0 0 var(--tw-ring-offset-width, 0px) color:var(--value);
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow, 0 0 #0000);
}

[data-tw-dEaXrm5jeBW] {
  --tw-ring-offset-color: length:var(--value);
  --tw-ring-offset-shadow: var(--tw-ring-inset, ) 0 0 0 var(--tw-ring-offset-width, 0px) length:var(--value);
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow, 0 0 #0000);
}

[data-tw-CpJKXV8OyUM] {
  --tw-blur: blur(15px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-drop-shadow) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-opacity) var(--tw-saturate) var(--tw-sepia);
}

[data-tw-SOAMEcCSrDX] {
  --tw-brightness: brightness(300%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-drop-shadow) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-opacity) var(--tw-saturate) var(--tw-sepia);
}

[data-tw-hhHcOiRYOJH] {
  --tw-contrast: contrast(2.4);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-drop-shadow) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-opacity) var(--tw-saturate) var(--tw-sepia);
}

[data-tw-kCa62ALC1HA] {
  filter: 0px 1px 2px black;
}

[data-tw-n7rrDaMETfD] {
  --tw-grayscale: grayscale(.55);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-drop-shadow) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-opacity) var(--tw-saturate) var(--tw-sepia);
}

[data-tw-wyLrtpK8fUV] {
  --tw-hue-rotate: hue-rotate(.8turn);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-drop-shadow) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-opacity) var(--tw-saturate) var(--tw-sepia);
}

[data-tw-nl3pc8NSILJ] {
  --tw-invert: invert(.75);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-drop-shadow) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-opacity) var(--tw-saturate) var(--tw-sepia);
}

[data-tw-nZCat8PdfTZ] {
  --tw-saturate: saturate(180%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-drop-shadow) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-opacity) var(--tw-saturate) var(--tw-sepia);
}

[data-tw-tRgwKcgubkS] {
  --tw-sepia: sepia(.2);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-drop-shadow) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-opacity) var(--tw-saturate) var(--tw-sepia);
}

[data-tw-G9WoK7hlYKU] {
  --tw-backdrop-blur: blur(11px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) var(--tw-backdrop-drop-shadow);
}

[data-tw-Xh8mvPcCGvY] {
  --tw-backdrop-brightness: brightness(1.23);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) var(--tw-backdrop-drop-shadow);
}

[data-tw-BOtgMO11rUE] {
  --tw-backdrop-contrast: contrast(.87);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) var(--tw-backdrop-drop-shadow);
}

[data-tw-YuriDHyuDSD] {
  --tw-backdrop-grayscale: grayscale(.42);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) var(--tw-backdrop-drop-shadow);
}

[data-tw-Cr91OGfgPRJ] {
  --tw-backdrop-hue-rotate: hue-rotate(89.9544deg);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) var(--tw-backdrop-drop-shadow);
}

[data-tw-RrppgjgYpgE] {
  --tw-backdrop-invert: invert(.66);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) var(--tw-backdrop-drop-shadow);
}

[data-tw-MkoYuNjYEkM] {
  backdrop-filter: opacity(50%);
}

[data-tw-ZeYDZLr8cvM] {
  --tw-backdrop-saturate: saturate(144%);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) var(--tw-backdrop-drop-shadow);
}

[data-tw-g5XCwy44KAA] {
  --tw-backdrop-sepia: sepia(.38);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) var(--tw-backdrop-drop-shadow);
}

[data-tw-oZWutdoHsSQ] {
  transition-property: opacity, width;
}

[data-tw-AZthOzD3KKD] {
  transition-delay: var(--delay);
}

[data-tw-BSHgoSI3FEQ] {
  transition-duration: 2s;
}

[data-tw-ddzgbAd0YhJ] {
  transition-duration: var(--app-duration);
}

[data-tw-g2wascwM6zP] {
  will-change: var(--will-change);
}

[data-tw-QxhKkYC8fCY] {
  --tw-content: "hello";
  content: var(--tw-content);
}

[data-tw-z2cgwYPBInE] {
  --tw-content: attr(content-before);
  content: var(--tw-content);
}

[data-tw-ogeetINE0eP] {
  --tw-content: ">";
  content: var(--tw-content);
}
