[data-tw-Q80HqbwTPyJ] {
  inset: 11px;
}

[data-tw-x0qbA7hLByP] {
  bottom: var(--value);
  left: var(--value);
  right: var(--value);
  top: var(--value);
}

[data-tw-Rvx7IuphQsS] {
  left: 11px;
  right: 11px;
}

[data-tw-EPGXXwQReCC] {
  left: var(--value);
  right: var(--value);
}

[data-tw-Ouh594yO0nY] {
  top: 11px;
  bottom: 11px;
}

[data-tw-jtPrkiZvToU] {
  bottom: var(--value);
  top: var(--value);
}

[data-tw-mdYIyaOyvdK] {
  top: 11px;
}

[data-tw-JzBegxrnhRK] {
  top: var(--value);
}

[data-tw-hjXgr43dsPQ] {
  right: 11px;
}

[data-tw-EHCPne6RPDX] {
  right: var(--value);
}

[data-tw-oAblbd5xozH] {
  bottom: 11px;
}

[data-tw-fKoXw4qK7cA] {
  bottom: var(--value);
}

[data-tw-J8lAZCGnFGA] {
  left: 11px;
}

[data-tw-d1FkWbfX9GW] {
  left: var(--value);
}

[data-tw-Lf71SXixJBJ] {
  z-index: 123;
}

[data-tw-PwI1sm5yAqZ] {
  z-index: var(--value);
}

[data-tw-RrtA0WCwbtQ] {
  order: [4];
}

[data-tw-XHpYwyVwg2J] {
  order: [var(--value) ];
}

[data-tw-tYAPQOQszsK] {
  grid-column: 1 / -1;
}

[data-tw-Ve3F0KJwwRA] {
  grid-row: 1 / -1;
}

[data-tw-K2vOd5wjKCQ] {
  margin: 7px;
}

[data-tw-wi4eaX9psvO] {
  margin-left: 7px;
  margin-right: 7px;
}

[data-tw-F95tMICWq7D] {
  margin-top: 7px;
  margin-bottom: 7px;
}

[data-tw-GaLjgVBLkQD] {
  margin-top: 7px;
}

[data-tw-bY2OX9j95SH] {
  margin-right: 7px;
}

[data-tw-ErtWZr3diDF] {
  margin-bottom: 7px;
}

[data-tw-ffTypYIIJIL] {
  margin-left: 7px;
}

[data-tw-rsLUkhFR5sW] {
  margin-top: clamp(30px, 100px);
}

[data-tw-DAev8uobugK] {
  aspect-ratio: var(--aspect);
}

[data-tw-uGiPPkI6bBD] {
  height: 3.23rem;
}

[data-tw-Q5vbKXZnrzW] {
  max-height: 3.23rem;
}

[data-tw-nW1i94jfXNF] {
  min-height: 3.23rem;
}

[data-tw-MulTrPkv8cB] {
  width: 0;
}

[data-tw-kmQo8HVtvnC] {
  width: 3.23rem;
}

[data-tw-L7cdQjkmMlM] {
  min-width: 3.23rem;
}

[data-tw-kidNzgS2EFN] {
  max-width: 3.23rem;
}

[data-tw-O91LBZcEUvT] {
  flex: var(--flex);
}

[data-tw-y4rnfPIh6rF] {
  flex-shrink: var(--shrink);
}

[data-tw-DST3nVDkzbD] {
  flex-grow: [var(--grow) ];
}

[data-tw-tFTpAwduOdY] {
  flex-basis: var(--basis);
}

[data-tw-f99Qr7a9eTA] {
  transform-origin: 50px 50px;
}

[data-tw-hMeB4TV1nfZ] {
  transform: translateX(12%);
}

[data-tw-yuqlSxh00RX] {
  transform: translateX(var(--value));
}

[data-tw-FiqoHtly9WE] {
  transform: translateY(12%);
}

[data-tw-xOrbahiyRFY] {
  transform: translateY(var(--value));
}

[data-tw-DMEYkEqwJCa] {
  transform: rotate(23deg)rotate(131.78deg)rotate(401grad)rotate(1.5turn);
}

[data-tw-ijcRiJWX00S] {
  transform: skewX(3px);
}

[data-tw-H2vifKt5VBF] {
  transform: skewX(var(--value));
}

[data-tw-jPPYxdqUdPD] {
  transform: skewY(3px);
}

[data-tw-osGtFyS27tX] {
  transform: skewY(var(--value));
}

[data-tw-ZiwGZykFXUK] {
  transform: scale(.7);
}

[data-tw-GGzQBkAMzjV] {
  transform: scale(var(--value));
}

[data-tw-DQ0pkaIhHMD] {
  transform: scaleX(.7);
}

[data-tw-aPq0hK4o9pP] {
  transform: scaleX(var(--value));
}

[data-tw-HpfYlxb8gSG] {
  transform: scaleY(.7);
}

[data-tw-GlMfp7lPhIM] {
  transform: scaleY(var(--value));
}

[data-tw-Lk5qKJElhSJ] {
  animation: 1s cubic-bezier(0, 0, .2, 1) infinite pong;
}

[data-tw-IRoEV3b6f9H] {
  animation: var(--value);
}

[data-tw-ylxgxMrlIjR] {
  scroll-margin: 7px;
}

[data-tw-G1GDMBaQR3W] {
  scroll-margin-left: 7px;
  scroll-margin-right: 7px;
}

[data-tw-shyWWpkD5yQ] {
  scroll-margin-top: 7px;
}

[data-tw-Ikv5PwNI99T] {
  scroll-margin-right: 7px;
}

[data-tw-NkmVC3dexNC] {
  scroll-margin-bottom: 7px;
}

[data-tw-KrwWdR0j3VZ] {
  scroll-margin-left: 7px;
}

[data-tw-dIMZzXrkEaX] {
  scroll-margin-top: var(--scroll-margin);
}

[data-tw-lLSeUHqA0MC] {
  scroll-padding: 7px;
}

[data-tw-vemsPfB7FfO] {
  scroll-padding-left: 7px;
  scroll-padding-right: 7px;
}

[data-tw-avryJxKJIoU] {
  scroll-padding-top: 7px;
  scroll-padding-bottom: 7px;
}

[data-tw-VwHl4VA9IZB] {
  scroll-padding-top: 7px;
}

[data-tw-OR6g034cjtK] {
  scroll-padding-right: 7px;
}

[data-tw-MqM1T6jmdyG] {
  scroll-padding-bottom: 7px;
}

[data-tw-Jc8VNBlMbrJ] {
  scroll-padding-left: 7px;
}

[data-tw-yP0JeMrr5AL] {
  scroll-padding-top: var(--scroll-padding);
}

[data-tw-EcH9SVuJQ2A] {
  cursor: pointer;
}

[data-tw-eT4Lz5JGG0U] {
  cursor: url("hand.cur") 2 2, pointer;
}

[data-tw-FFFcsMzQ5jI] {
  cursor: url("./path to hand.cur") 2 2, pointer;
}

[data-tw-rWoIK0CeLjA] {
  cursor: var(--value);
}

[data-tw-Yxzuhw5GQRW] {
  list-style-type: "👍";
}

[data-tw-TdITvJ44y0V] {
  list-style-type: var(--value);
}

[data-tw-t5QMyPDSG2E] {
  columns: var(--columns);
}

[data-tw-RjEVbZ20TUR] {
  grid-auto-columns: minmax(10px, auto);
}

[data-tw-RKdrFrfvMzY] {
  grid-auto-rows: minmax(10px, auto);
}

[data-tw-U9dyTiaOhpP] {
  grid-template-columns: 200px, repeat(auto-fill, minmax(15%, 100px)), 300px;
}

[data-tw-RIWoTpPY6sQ] {
  grid-template-rows: 200px, repeat(auto-fill, minmax(15%, 100px)), 300px;
}

[data-tw-dDaHJDQt5OS] {
  gap: 20px;
}

[data-tw-WV7zOw4pxmJ] {
  column-gap: 20px;
}

[data-tw-Oqo3siCR21Y] {
  row-gap: 20px;
}

[data-tw-MD2CyxEzQpE] {
  margin-left: 20cm;
}

[data-tw-ZwQGUXXlKNJ] {
  margin-left: calc(20%-1cm);
}

[data-tw-yuWS6po6JFG] {
  margin-top: 20cm;
}

[data-tw-JLqonVjnskE] {
  margin-top: calc(20%-1cm);
}

[data-tw-hm0dAmBMINI] {
  border-left-width: 0;
  border-right-width: [20cm] px;
}

[data-tw-hrJHWv8G01S] {
  border-left-width: 0;
  border-right-width: [calc(20%-1cm) ] px;
}

[data-tw-rYdsoQ3bzHQ] {
  border-bottom-width: [20cm] px;
  border-top-width: 0;
}

[data-tw-fB4FTVZc4ZI] {
  border-bottom-width: [calc(20%-1cm) ] px;
  border-top-width: 0;
}

[data-tw-ruMgqASh2EX] {
  border-radius: 11px;
}

[data-tw-aW3t21W1YfF] {
  border-width: 2.5px;
}

[data-tw-ummR2dkY0gN] {
  border-top-width: 2.5px;
}

[data-tw-ezrPAerHEbP] {
  border-right-width: 2.5px;
}

[data-tw-L5gjkHTNENC] {
  border-bottom-width: 2.5px;
}

[data-tw-VKDHwfKgLSY] {
  border-left-width: 2.5px;
}

[data-tw-lW9qhmTrMpB] {
  background-color: #00fc;
}

[data-tw-T5htnRZWMQO] {
  background-color: #7b7b7b80;
}

[data-tw-do5FuRln4nS] {
  background-color: #7bffff;
}

[data-tw-vpEqKvgx2KV] {
  background-color: #ff00004d;
}

[data-tw-quVvtcbbM5G] {
  --tw-gradient-from: #da5b66;
  --tw-gradient-stops: var(--tw-gradient-from), #da5b66, var(--tw-gradient-to, #da5b66);
  --tw-gradient-to: #da5b66;
}

[data-tw-LNDP8Tj3IbJ] {
  fill: #da5b66;
}

[data-tw-L3WcRlgAIPG] {
  object-position: 50%, 50%;
}

[data-tw-oLEeiZpYULA] {
  object-position: top, right;
}

[data-tw-utMgTCKJ7GS] {
  object-position: var(--position);
}

[data-tw-PLF9YXQWr6K] {
  padding: 7px;
}

[data-tw-IcpO4R1Sj5K] {
  padding-left: 7px;
  padding-right: 7px;
}

[data-tw-ArkuOdL0boJ] {
  padding-top: 7px;
  padding-bottom: 7px;
}

[data-tw-GYFKTRnroRF] {
  padding-top: 7px;
}

[data-tw-D1ZY8RDJNfE] {
  padding-right: 7px;
}

[data-tw-HRj8QdPJy6L] {
  padding-bottom: 7px;
}

[data-tw-D4M88IBU7zL] {
  padding-left: 7px;
}

[data-tw-g4OYrCHhncH] {
  padding-top: clamp(30px, 100px);
}

[data-tw-BIAodNhfSaR] {
  text-indent: var(--indent);
}

[data-tw-bUdq4Kk6GYK] {
  vertical-align: 10em;
}

[data-tw-VlpfbpsSuDE] {
  font-family: Georgia, serif;
}

[data-tw-GpNJArsh7UJ] {
  font-family: Gill Sans;
}

[data-tw-kEL44J1hgpW] {
  font-family: sans-serif, serif;
}

[data-tw-POn7vXcRWbP] {
  font-family: family-name:var(--value);
}

[data-tw-EZXRBPsr2PN] {
  font-family: serif, var(--value);
}

[data-tw-HDR9b3rTuFM] {
  font-family: Some Font, sans-serif;
}

[data-tw-N4oHq92ngAP] {
  font-family: Some Font, Some Other Font;
}

[data-tw-cM3yk3nMc8N] {
  font-family: "Some Font", var(--other-font);
}

[data-tw-Ov6EtnxaRgW] {
  font-family: var(--font1), var(--font2);
}

[data-tw-pXvcDBplJbQ] {
  font-family: invalid font because spaces;
}

[data-tw-VYgn0gZanaY] {
  font-size: 0;
}

[data-tw-c9lvy02o4bZ] {
  font-size: 2.23rem;
}

[data-tw-EaVYjHtEoXD] {
  font-size: length:var(--font-size);
}

[data-tw-KI8zBJV0roY] {
  font-size: angle:var(--angle);
}

[data-tw-IhvSTKLaXKA] {
  font-size: min(10vh, 100px);
}

[data-tw-aHQ8RSIMDUB] {
  font-weight: 300;
}

[data-tw-G1yOIPgEFDA] {
  font-family: number:lighter;
}

[data-tw-OXmexQzjvwU] {
  font-family: number:var(--value);
}

[data-tw-Y8DgVVPmJXS] {
  letter-spacing: var(--tracking);
}

[data-tw-yvdfrcNJECD] {
  font-size: black;
}

[data-tw-IYVOwytfglO], [data-tw-QgySyLTQpVE], [data-tw-W9LZ9SABGFX] {
  font-size: #7b7b7b;
}

[data-tw-Qvv8Q2WudbJ] {
  font-size: color:var(--color);
}

[data-tw-wE8xetWUoFG] {
  text-decoration: none;
}

[data-tw-zk7RQnmP8CP], [data-tw-kaeuEDlBlwT], [data-tw-Uf7twpaf3LJ] {
  text-decoration: none;
}

[data-tw-bTasEguHzwO] {
  text-decoration: color:var(--color);
}

[data-tw-gESP2phmmQP] {
  text-decoration: length:10px;
}

[data-tw-vALJ7wFkBGZ] {
  text-underline-offset: 10px;
}

[data-tw-IDWpNf2Tx7T] {
  caret-color: #000;
}

[data-tw-eEmEnDRxm7Z] {
  accent-color: #bada55;
}

[data-tw-Ho2FMlSxBGS] {
  opacity: .5;
}

[data-tw-HVtsqYl6O9G] {
  box-shadow: 0 1px 2px #000;
}

[data-tw-w82Hec5DyYW] {
  box-shadow: shadow:var(--value);
}

[data-tw-qsOL0JXyqbP] {
  outline-color: #000;
}

[data-tw-yP2tXpo6ApW] {
  outline-width: 10px;
}

[data-tw-gAuANWrcaTT] {
  outline-offset: 10px;
}

[data-tw-rdREQ8BxP4U] {
  --tw-ring-offset-width: 3;
  box-shadow: 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color), var(--tw-ring-shadow);
}

[data-tw-vUpWQ9MOLqF] {
  filter: blur(15px);
}

[data-tw-srHCDZZUAMF] {
  filter: brightness(300%);
}

[data-tw-ufwMygURF3X] {
  filter: contrast(2.4);
}

[data-tw-kCa62ALC1HA] {
  filter: 0px 1px 2px black;
}

[data-tw-bKy2ZK7QJtV] {
  filter: grayscale(.55);
}

[data-tw-MnOJ6sutUiB] {
  filter: hue-rotate(.8turn);
}

[data-tw-fFaPHxkXvJS] {
  filter: invert(.75);
}

[data-tw-u0VYfQKviNW] {
  filter: saturate(180%);
}

[data-tw-n39kSzWr80C] {
  filter: sepia(.2);
}

[data-tw-S9GJ80EVXwQ] {
  backdrop-filter: blur(11px);
}

[data-tw-bTSZHk1JbXK] {
  backdrop-filter: brightness(1.23);
}

[data-tw-FRhSpXwPB8D] {
  backdrop-filter: contrast(.87);
}

[data-tw-JmXSuwu79xX] {
  backdrop-filter: grayscale(.42);
}

[data-tw-Jv7wD5vrxPJ] {
  backdrop-filter: hue-rotate(89.9544deg);
}

[data-tw-ELkJQTT49VO] {
  backdrop-filter: invert(.66);
}

[data-tw-MkoYuNjYEkM] {
  backdrop-filter: opacity(50%);
}

[data-tw-dxsYwsl77iT] {
  backdrop-filter: saturate(144%);
}

[data-tw-pZkQJLj0abV] {
  backdrop-filter: sepia(.38);
}

[data-tw-AZthOzD3KKD] {
  transition-delay: var(--delay);
}

[data-tw-BSHgoSI3FEQ] {
  transition-duration: 2s;
}

[data-tw-ddzgbAd0YhJ] {
  transition-duration: var(--app-duration);
}

[data-tw-g2wascwM6zP] {
  will-change: var(--will-change);
}

[data-tw-U5n2yBmNdHT] {
  content: "hello";
}

[data-tw-p061dsyW32I] {
  content: attr(content-before);
}

[data-tw-ogmrhgFMajM] {
  content: ">";
}
