.inset-\[11px\] {
  inset: 11px;
}

.inset-\[var\(--value\)\] {
  bottom: var(--value);
  left: var(--value);
  right: var(--value);
  top: var(--value);
}

.inset-x-\[11px\] {
  left: 11px;
  right: 11px;
}

.inset-x-\[var\(--value\)\] {
  left: var(--value);
  right: var(--value);
}

.inset-y-\[11px\] {
  top: 11px;
  bottom: 11px;
}

.inset-y-\[var\(--value\)\] {
  bottom: var(--value);
  top: var(--value);
}

.top-\[11px\] {
  top: 11px;
}

.top-\[var\(--value\)\] {
  top: var(--value);
}

.right-\[11px\] {
  right: 11px;
}

.right-\[var\(--value\)\] {
  right: var(--value);
}

.bottom-\[11px\] {
  bottom: 11px;
}

.bottom-\[var\(--value\)\] {
  bottom: var(--value);
}

.left-\[11px\] {
  left: 11px;
}

.left-\[var\(--value\)\] {
  left: var(--value);
}

.z-\[123\] {
  z-index: 123;
}

.z-\[var\(--value\)\] {
  z-index: var(--value);
}

.order-4 {
  order: 4;
}

.order-var\(--value\) {
  order: var(--value);
}

.col-span-full {
  grid-column: 1 / -1;
}

.row-span-full {
  grid-row: 1 / -1;
}

.m-\[7px\] {
  margin: 7px;
}

.mx-\[7px\] {
  margin-left: 7px;
  margin-right: 7px;
}

.my-\[7px\] {
  margin-top: 7px;
  margin-bottom: 7px;
}

.mt-\[7px\] {
  margin-top: 7px;
}

.mr-\[7px\] {
  margin-right: 7px;
}

.mb-\[7px\] {
  margin-bottom: 7px;
}

.ml-\[7px\] {
  margin-left: 7px;
}

.mt-\[clamp\(30px\,100px\)\] {
  margin-top: clamp(30px, 100px);
}

.aspect-\[16\/9\] {
  aspect-ratio: 16 / 9;
}

.aspect-\[var\(--aspect\)\] {
  aspect-ratio: var(--aspect);
}

.h-\[3\.23rem\] {
  height: 3.23rem;
}

.h-\[calc\(100\%\+1rem\)\] {
  height: calc(100%1rem);
}

.h-\[var\(--height\)\] {
  height: var(--height);
}

.max-h-\[3\.23rem\] {
  max-height: 3.23rem;
}

.max-h-\[calc\(100\%\+1rem\)\] {
  max-height: calc(100%1rem);
}

.max-h-\[var\(--height\)\] {
  max-height: var(--height);
}

.min-h-\[3\.23rem\] {
  min-height: 3.23rem;
}

.min-h-\[calc\(100\%\+1rem\)\] {
  min-height: calc(100%1rem);
}

.min-h-\[var\(--height\)\] {
  min-height: var(--height);
}

.w-\[0em\] {
  width: 0;
}

.w-\[3\.23rem\] {
  width: 3.23rem;
}

.w-\[calc\(100\%\+1rem\)\] {
  width: calc(100%1rem);
}

.w-\[calc\(var\(--10-10px\,calc\(-20px-\(-30px--40px\)\)\)-50px\)\] {
  width: calc(var(--10-10px, calc(-20px-(-30px--40px))) -50px);
}

.w-\[var\(--width\)\] {
  width: var(--width);
}

.w-\[var\(--width\,calc\(100\%\+1rem\)\)\] {
  width: var(--width, calc(100%1rem));
}

.w-\[calc\(100\%\/3-1rem\*2\)\] {
  width: calc(100% / 3-1rem * 2);
}

.min-w-\[3\.23rem\] {
  min-width: 3.23rem;
}

.min-w-\[calc\(100\%\+1rem\)\] {
  min-width: calc(100%1rem);
}

.min-w-\[var\(--width\)\] {
  min-width: var(--width);
}

.max-w-\[3\.23rem\] {
  max-width: 3.23rem;
}

.max-w-\[calc\(100\%\+1rem\)\] {
  max-width: calc(100%1rem);
}

.max-w-\[var\(--width\)\] {
  max-width: var(--width);
}

.flex-var\(--flex\) {
  flex: var(--flex);
}

.shrink-var\(--shrink\) {
  flex-shrink: var(--shrink);
}

.grow-var\(--grow\) {
  flex-grow: var(--grow);
}

.basis-\[var\(--basis\)\] {
  flex-basis: var(--basis);
}

.origin-\[50px_50px\] {
  transform-origin: 50px 50px;
}

.translate-x-\[12\%\] {
  --tw-translate-x: 12%;
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

.translate-x-\[var\(--value\)\] {
  --tw-translate-x: var(--value);
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

.translate-y-\[12\%\] {
  --tw-translate-y: 12%;
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

.translate-y-\[var\(--value\)\] {
  --tw-translate-y: var(--value);
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

.rotate-\[23deg\] {
  --tw-rotate: 23deg;
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

.rotate-\[2\.3rad\] {
  --tw-rotate: 131.78deg;
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

.rotate-\[401grad\] {
  --tw-rotate: 401grad;
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

.rotate-\[1\.5turn\] {
  --tw-rotate: 1.5turn;
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

.skew-x-\[3px\] {
  --tw-skew-x: 3px;
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

.skew-x-\[var\(--value\)\] {
  --tw-skew-x: var(--value);
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

.skew-y-\[3px\] {
  --tw-skew-y: 3px;
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

.skew-y-\[var\(--value\)\] {
  --tw-skew-y: var(--value);
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

.scale-0\.7 {
  --tw-scale-x: .7;
  --tw-scale-y: .7;
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

.scale-var\(--value\) {
  --tw-scale-x: var(--value);
  --tw-scale-y: var(--value);
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

.scale-x-0\.7 {
  --tw-scale-x: .7;
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

.scale-x-var\(--value\) {
  --tw-scale-x: var(--value);
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

.scale-y-0\.7 {
  --tw-scale-y: .7;
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

.scale-y-var\(--value\) {
  --tw-scale-y: var(--value);
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0)) rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x, 0)) skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1)) scaleY(var(--tw-scale-y, 1));
}

.animate-\[pong_1s_cubic-bezier\(0\,0\,0\.2\,1\)_infinite\] {
  animation: 1s cubic-bezier(0, 0, .2, 1) infinite pong;
}

.animate-\[var\(--value\)\] {
  animation: var(--value);
}

.scroll-m-\[7px\] {
  scroll-margin: 7px;
}

.scroll-mx-\[7px\] {
  scroll-margin-left: 7px;
  scroll-margin-right: 7px;
}

.scroll-my-\[7px\] {
  scroll-margin-top: 7px;
  scroll-margin-bottom: 7px;
}

.scroll-mt-\[7px\] {
  scroll-margin-top: 7px;
}

.scroll-mr-\[7px\] {
  scroll-margin-right: 7px;
}

.scroll-mb-\[7px\] {
  scroll-margin-bottom: 7px;
}

.scroll-ml-\[7px\] {
  scroll-margin-left: 7px;
}

.scroll-mt-\[var\(--scroll-margin\)\] {
  scroll-margin-top: var(--scroll-margin);
}

.scroll-p-\[7px\] {
  scroll-padding: 7px;
}

.scroll-px-\[7px\] {
  scroll-padding-left: 7px;
  scroll-padding-right: 7px;
}

.scroll-py-\[7px\] {
  scroll-padding-top: 7px;
  scroll-padding-bottom: 7px;
}

.scroll-pt-\[7px\] {
  scroll-padding-top: 7px;
}

.scroll-pr-\[7px\] {
  scroll-padding-right: 7px;
}

.scroll-pb-\[7px\] {
  scroll-padding-bottom: 7px;
}

.scroll-pl-\[7px\] {
  scroll-padding-left: 7px;
}

.scroll-pt-\[var\(--scroll-padding\)\] {
  scroll-padding-top: var(--scroll-padding);
}

.cursor-\[pointer\] {
  cursor: pointer;
}

.cursor-\[url\(hand\.cur\)_2_2\,pointer\] {
  cursor: url("hand.cur") 2 2, pointer;
}

.cursor-\[url\(\'\.\/path_to_hand\.cur\'\)_2_2\,pointer\] {
  cursor: url("./path to hand.cur") 2 2, pointer;
}

.cursor-\[var\(--value\)\] {
  cursor: var(--value);
}

.list-\[\'\\1F44D\'\] {
  list-style-type: "👍";
}

.list-\[var\(--value\)\] {
  list-style-type: var(--value);
}

.columns-\[20\] {
  columns: 20;
}

.columns-\[var\(--columns\)\] {
  columns: var(--columns);
}

.auto-cols-\[minmax\(10px\,auto\)\] {
  grid-auto-columns: minmax(10px, auto);
}

.auto-rows-\[minmax\(10px\,auto\)\] {
  grid-auto-rows: minmax(10px, auto);
}

.grid-cols-\[200px\,repeat\(auto-fill\,minmax\(15\%\,100px\)\)\,300px\] {
  grid-template-columns: 200px, repeat(auto-fill, minmax(15%, 100px)), 300px;
}

@media (width >= 1024px) {
  .lg\:grid-cols-\[200px\,repeat\(auto-fill\,minmax\(15\%\,100px\)\)\,300px\] {
    grid-template-columns: 200px, repeat(auto-fill, minmax(15%, 100px)), 300px;
  }
}

.grid-rows-\[200px\,repeat\(auto-fill\,minmax\(15\%\,100px\)\)\,300px\] {
  grid-template-rows: 200px, repeat(auto-fill, minmax(15%, 100px)), 300px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[var\(--value\)\] {
  gap: var(--value);
}

.gap-x-\[20px\] {
  column-gap: 20px;
}

.gap-x-\[var\(--value\)\] {
  column-gap: var(--value);
}

.gap-y-\[20px\] {
  row-gap: 20px;
}

.gap-y-\[var\(--value\)\] {
  row-gap: var(--value);
}

.space-x-\[20cm\] > * + * {
  margin-left: 20cm;
}

.space-x-\[calc\(20\%-1cm\)\] > * + * {
  margin-left: calc(20%-1cm);
}

.space-y-\[20cm\] > * + * {
  margin-top: 20cm;
}

.space-y-\[calc\(20\%-1cm\)\] > * + * {
  margin-top: calc(20%-1cm);
}

.divide-x-20cm > * + * {
  border-right-width: 20cmpx;
  border-left-width: 0;
}

.divide-x-calc\(20\%-1cm\) > * + * {
  border-right-width: calc(20%-1cm) px;
  border-left-width: 0;
}

.divide-y-20cm > * + * {
  border-top-width: 0;
  border-bottom-width: 20cmpx;
}

.divide-y-calc\(20\%-1cm\) > * + * {
  border-top-width: 0;
  border-bottom-width: calc(20%-1cm) px;
}

.rounded-\[11px\] {
  border-radius: 11px;
}

.rounded-t-\[var\(--radius\)\] {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.rounded-r-\[var\(--radius\)\] {
  border-bottom-right-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.rounded-b-\[var\(--radius\)\] {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.rounded-l-\[var\(--radius\)\] {
  border-bottom-left-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.rounded-tr-\[var\(--radius\)\] {
  border-top-right-radius: var(--radius);
}

.rounded-br-\[var\(--radius\)\] {
  border-bottom-right-radius: var(--radius);
}

.rounded-bl-\[var\(--radius\)\] {
  border-bottom-left-radius: var(--radius);
}

.rounded-tl-\[var\(--radius\)\] {
  border-top-left-radius: var(--radius);
}

.border-\[\#FF0000FF\] {
  border-color: red;
}

.border-\[2\.5px\] {
  border-width: 2.5px;
}

.border-t-\[\#FF0000FF\] {
  border-top-color: red;
}

.border-t-\[2\.5px\] {
  border-top-width: 2.5px;
}

.border-r-\[\#FF0000FF\] {
  border-right-color: red;
}

.border-r-\[2\.5px\] {
  border-right-width: 2.5px;
}

.border-b-\[\#FF0000FF\] {
  border-bottom-color: red;
}

.border-b-\[2\.5px\] {
  border-bottom-width: 2.5px;
}

.border-l-\[\#FF0000FF\] {
  border-left-color: red;
}

.border-l-\[2\.5px\] {
  border-left-width: 2.5px;
}

.bg-\[\#00FF00FF\] {
  background-color: #0f0;
}

.bg-\[\#FF0000FF\] {
  background-color: red;
}

.bg-\[\#0000FFCC\] {
  background-color: #00fc;
}

.bg-\[\#7B7B7BFF\] {
  background-color: #7b7b7b;
}

.bg-\[\#7B7B7B7F\] {
  background-color: #7b7b7b80;
}

.bg-\[rgb\(123\,_456\,_123\)_black\] {
  background-color: #7bff7b black;
}

.bg-\[\#7BFFFFFF\] {
  background-color: #7bffff;
}

.bg-\[\#FF00004C\] {
  background-color: #ff00004d;
}

.bg-\[\#0f0_var\(--value\)\] {
  background-color: #0f0 var(--value);
}

.bg-\[var\(--value1\)_var\(--value2\)\] {
  background-color: var(--value1) var(--value2);
}

.bg-\[color\:var\(--value1\)_var\(--value2\)\] {
  background-color: color:var(--value1) var(--value2);
}

.bg-\[url\(\'\/path-to-image\.png\'\)\] {
  background-color: url("/path-to-image.png");
}

.bg-\[url\:var\(--url\)\] {
  background-color: url:var(--url);
}

.bg-\[linear-gradient\(\#eee\,\#fff\)\] {
  background-color: linear-gradient(#eee, #fff);
}

.bg-\[linear-gradient\(\#eee\,\#fff\)\,conic-gradient\(red\,orange\,yellow\,green\,blue\)\] {
  background-color: linear-gradient(#eee, #fff), conic-gradient(red, orange, yellow, green, blue);
}

.bg-\[image\(\)\,var\(--value\)\] {
  background-color: image(), var(--value);
}

.bg-\[var\(--value\)\,var\(--value\)\] {
  background-color: var(--value), var(--value);
}

.bg-\[image\:var\(--value\)\,var\(--value\)\] {
  background-color: image:var(--value), var(--value);
}

.from-\[\#DA5B66FF\] {
  --tw-gradient-from: #da5b66;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, #da5b66);
}

.via-\[\#DA5B66FF\] {
  --tw-gradient-stops: var(--tw-gradient-from), #da5b66, var(--tw-gradient-to, #da5b66);
}

.to-\[\#DA5B66FF\] {
  --tw-gradient-to: #da5b66;
}

.from-\[var\(--color\)\] {
  --tw-gradient-from: var(--color);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, var(--color));
}

.via-\[var\(--color\)\] {
  --tw-gradient-stops: var(--tw-gradient-from), var(--color), var(--tw-gradient-to, var(--color));
}

.to-\[var\(--color\)\] {
  --tw-gradient-to: var(--color);
}

.bg-\[length\:var\(--value\)\] {
  background-color: length:var(--value);
}

.bg-\[position\:var\(--value\)\] {
  background-color: position:var(--value);
}

.fill-\[\#DA5B66FF\] {
  fill: #da5b66;
}

.fill-\[var\(--value\)\] {
  fill: var(--value);
}

.fill-\[url\(\#icon-gradient\)\] {
  fill: url("#icon-gradient");
}

.object-\[50\%\,50\%\] {
  object-position: 50%, 50%;
}

.object-\[top\,right\] {
  object-position: top, right;
}

.object-\[var\(--position\)\] {
  object-position: var(--position);
}

.p-\[7px\] {
  padding: 7px;
}

.px-\[7px\] {
  padding-left: 7px;
  padding-right: 7px;
}

.py-\[7px\] {
  padding-top: 7px;
  padding-bottom: 7px;
}

.pt-\[7px\] {
  padding-top: 7px;
}

.pr-\[7px\] {
  padding-right: 7px;
}

.pb-\[7px\] {
  padding-bottom: 7px;
}

.pl-\[7px\] {
  padding-left: 7px;
}

.pt-\[clamp\(30px\,100px\)\] {
  padding-top: clamp(30px, 100px);
}

.indent-\[50\%\] {
  text-indent: 50%;
}

.indent-\[var\(--indent\)\] {
  text-indent: var(--indent);
}

.align-\[10em\] {
  vertical-align: 10em;
}

.font-Georgia\,serif {
  font-family: Georgia, serif;
}

.font-\'Gill_Sans\' {
  font-family: Gill Sans;
}

.font-sans-serif\,serif {
  font-family: sans-serif, serif;
}

.font-family-name\:var\(--value\) {
  font-family: family-name:var(--value);
}

.font-serif\,var\(--value\) {
  font-family: serif, var(--value);
}

.font-\'Some_Font\'\,sans-serif {
  font-family: Some Font, sans-serif;
}

.font-\'Some_Font\'\,\'Some_Other_Font\' {
  font-family: Some Font, Some Other Font;
}

.font-\'Some_Font\'\,var\(--other-font\) {
  font-family: "Some Font", var(--other-font);
}

.font-var\(--font1\)\,var\(--font2\) {
  font-family: var(--font1), var(--font2);
}

.font-invalid_font_because_spaces {
  font-family: invalid font because spaces;
}

.text-\[0\] {
  font-size: 0;
}

.text-\[2\.23rem\] {
  font-size: 2.23rem;
}

.text-\[length\:var\(--font-size\)\] {
  font-size: length:var(--font-size);
}

.text-\[angle\:var\(--angle\)\] {
  font-size: angle:var(--angle);
}

.text-\[min\(10vh\,100px\)\] {
  font-size: min(10vh, 100px);
}

.font-\[300\] {
  font-weight: 300;
}

.font-number\:lighter {
  font-family: number:lighter;
}

.font-number\:var\(--value\) {
  font-family: number:var(--value);
}

.leading-\[var\(--leading\)\] {
  line-height: var(--leading);
}

.tracking-\[var\(--tracking\)\] {
  letter-spacing: var(--tracking);
}

.text-\[black\] {
  font-size: black;
}

.text-\[\#7B7B7BFF\] {
  color: #7b7b7b;
}

.text-\[color\:var\(--color\)\] {
  font-size: color:var(--color);
}

.decoration-\[black\] {
  text-decoration: none;
}

.decoration-\[rgb\(123\,123\,123\)\], .decoration-\[rgb\(123\,_123\,_123\)\], .decoration-\[rgb\(123_123_123\)\] {
  text-decoration: none;
}

.decoration-\[color\:var\(--color\)\] {
  text-decoration: color:var(--color);
}

.decoration-\[length\:10px\] {
  text-decoration: length:10px;
}

.underline-offset-\[10px\] {
  text-underline-offset: 10px;
}

.caret-black {
  caret-color: #000;
}

.caret-\[var\(--value\)\] {
  caret-color: var(--value);
}

.accent-\[\#BADA55FF\] {
  accent-color: #bada55;
}

.accent-\[var\(--accent-color\)\] {
  accent-color: var(--accent-color);
}

.opacity-50 {
  opacity: .5;
}

.shadow-\[0px_1px_2px_black\] {
  box-shadow: 0 1px 2px #000;
}

.shadow-\[shadow\:var\(--value\)\] {
  box-shadow: shadow:var(--value);
}

.outline-color-black {
  outline-color: #000;
}

.outline-width-\[10px\] {
  outline-width: 10px;
}

.outline-color-\[color\:var\(--outline\)\] {
  outline-color: color:var(--outline);
}

.outline-color-\[length\:var\(--outline\)\] {
  outline-color: length:var(--outline);
}

.outline-offset-\[10px\] {
  outline-offset: 10px;
}

.ring-\#76ad65 {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(#76ad65 + var(--tw-ring-offset-width, 0px)) var(--tw-ring-color, currentColor);
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ring-color\:var\(--value\) {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(color:var(--value)  + var(--tw-ring-offset-width, 0px)) var(--tw-ring-color, currentColor);
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ring-offset-\[\#76AD65FF\] {
  --tw-ring-offset-color: #76ad65;
  --tw-ring-offset-shadow: var(--tw-ring-inset, ) 0 0 0 var(--tw-ring-offset-width, 0px) #76ad65;
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow, 0 0 #0000);
}

.ring-10px {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(10px + var(--tw-ring-offset-width, 0px)) var(--tw-ring-color, currentColor);
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ring-length\:\(var\(--value\)\) {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(length:(var(--value))  + var(--tw-ring-offset-width, 0px)) var(--tw-ring-color, currentColor);
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ring-offset-\[\#AD672FFF\] {
  --tw-ring-offset-color: #ad672f;
  --tw-ring-offset-shadow: var(--tw-ring-inset, ) 0 0 0 var(--tw-ring-offset-width, 0px) #ad672f;
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow, 0 0 #0000);
}

.ring-offset-\[color\:var\(--value\)\] {
  --tw-ring-offset-color: color:var(--value);
  --tw-ring-offset-shadow: var(--tw-ring-inset, ) 0 0 0 var(--tw-ring-offset-width, 0px) color:var(--value);
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow, 0 0 #0000);
}

.ring-offset-\[length\:var\(--value\)\] {
  --tw-ring-offset-color: length:var(--value);
  --tw-ring-offset-shadow: var(--tw-ring-inset, ) 0 0 0 var(--tw-ring-offset-width, 0px) length:var(--value);
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow, 0 0 #0000);
}

.blur-15px {
  --tw-blur: blur(15px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-drop-shadow) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-opacity) var(--tw-saturate) var(--tw-sepia);
}

.brightness-300\% {
  --tw-brightness: brightness(300%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-drop-shadow) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-opacity) var(--tw-saturate) var(--tw-sepia);
}

.contrast-2\.4 {
  --tw-contrast: contrast(2.4);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-drop-shadow) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-opacity) var(--tw-saturate) var(--tw-sepia);
}

.drop-shadow-\[0px_1px_2px_black\] {
  filter: 0px 1px 2px black;
}

.grayscale-0\.55 {
  --tw-grayscale: grayscale(.55);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-drop-shadow) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-opacity) var(--tw-saturate) var(--tw-sepia);
}

.hue-rotate-0\.8turn {
  --tw-hue-rotate: hue-rotate(.8turn);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-drop-shadow) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-opacity) var(--tw-saturate) var(--tw-sepia);
}

.invert-0\.75 {
  --tw-invert: invert(.75);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-drop-shadow) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-opacity) var(--tw-saturate) var(--tw-sepia);
}

.saturate-180\% {
  --tw-saturate: saturate(180%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-drop-shadow) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-opacity) var(--tw-saturate) var(--tw-sepia);
}

.sepia-0\.2 {
  --tw-sepia: sepia(.2);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-drop-shadow) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-opacity) var(--tw-saturate) var(--tw-sepia);
}

.backdrop-blur-11px {
  --tw-backdrop-blur: blur(11px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) var(--tw-backdrop-drop-shadow);
}

.backdrop-brightness-1\.23 {
  --tw-backdrop-brightness: brightness(1.23);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) var(--tw-backdrop-drop-shadow);
}

.backdrop-contrast-0\.87 {
  --tw-backdrop-contrast: contrast(.87);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) var(--tw-backdrop-drop-shadow);
}

.backdrop-grayscale-0\.42 {
  --tw-backdrop-grayscale: grayscale(.42);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) var(--tw-backdrop-drop-shadow);
}

.backdrop-hue-rotate-1\.57rad {
  --tw-backdrop-hue-rotate: hue-rotate(89.9544deg);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) var(--tw-backdrop-drop-shadow);
}

.backdrop-invert-0\.66 {
  --tw-backdrop-invert: invert(.66);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) var(--tw-backdrop-drop-shadow);
}

.backdrop-opacity-50 {
  backdrop-filter: opacity(50%);
}

.backdrop-saturate-144\% {
  --tw-backdrop-saturate: saturate(144%);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) var(--tw-backdrop-drop-shadow);
}

.backdrop-sepia-0\.38 {
  --tw-backdrop-sepia: sepia(.38);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) var(--tw-backdrop-drop-shadow);
}

.transition-\[opacity\,width\] {
  transition-property: opacity, width;
}

.delay-var\(--delay\) {
  transition-delay: var(--delay);
}

.duration-2s {
  transition-duration: 2s;
}

.duration-var\(--app-duration\) {
  transition-duration: var(--app-duration);
}

.will-change-\[top\,left\] {
  will-change: top, left;
}

.will-change-\[var\(--will-change\)\] {
  will-change: var(--will-change);
}

.content-\[\'hello\'\] {
  --tw-content: "hello";
  content: var(--tw-content);
}

.content-\[attr\(content-before\)\] {
  --tw-content: attr(content-before);
  content: var(--tw-content);
}

.content-\[\'\>\'\] {
  --tw-content: ">";
  content: var(--tw-content);
}
