.Q80HqbwTPyJ {
  inset: 11px;
}

.x0qbA7hLByP {
  bottom: var(--value);
  left: var(--value);
  right: var(--value);
  top: var(--value);
}

.Rvx7IuphQsS {
  left: 11px;
  right: 11px;
}

.EPGXXwQReCC {
  left: var(--value);
  right: var(--value);
}

.Ouh594yO0nY {
  top: 11px;
  bottom: 11px;
}

.jtPrkiZvToU {
  bottom: var(--value);
  top: var(--value);
}

.mdYIyaOyvdK {
  top: 11px;
}

.JzBegxrnhRK {
  top: var(--value);
}

.hjXgr43dsPQ {
  right: 11px;
}

.EHCPne6RPDX {
  right: var(--value);
}

.oAblbd5xozH {
  bottom: 11px;
}

.fKoXw4qK7cA {
  bottom: var(--value);
}

.J8lAZCGnFGA {
  left: 11px;
}

.d1FkWbfX9GW {
  left: var(--value);
}

.Lf71SXixJBJ {
  z-index: 123;
}

.PwI1sm5yAqZ {
  z-index: var(--value);
}

.RrtA0WCwbtQ {
  order: [4];
}

.XHpYwyVwg2J {
  order: [var(--value) ];
}

.tYAPQOQszsK {
  grid-column: 1 / -1;
}

.Ve3F0KJwwRA {
  grid-row: 1 / -1;
}

.K2vOd5wjKCQ {
  margin: 7px;
}

.wi4eaX9psvO {
  margin-left: 7px;
  margin-right: 7px;
}

.F95tMICWq7D {
  margin-top: 7px;
  margin-bottom: 7px;
}

.GaLjgVBLkQD {
  margin-top: 7px;
}

.bY2OX9j95SH {
  margin-right: 7px;
}

.ErtWZr3diDF {
  margin-bottom: 7px;
}

.ffTypYIIJIL {
  margin-left: 7px;
}

.rsLUkhFR5sW {
  margin-top: clamp(30px, 100px);
}

.DAev8uobugK {
  aspect-ratio: var(--aspect);
}

.uGiPPkI6bBD {
  height: 3.23rem;
}

.Q5vbKXZnrzW {
  max-height: 3.23rem;
}

.nW1i94jfXNF {
  min-height: 3.23rem;
}

.MulTrPkv8cB {
  width: 0;
}

.kmQo8HVtvnC {
  width: 3.23rem;
}

.L7cdQjkmMlM {
  min-width: 3.23rem;
}

.kidNzgS2EFN {
  max-width: 3.23rem;
}

.O91LBZcEUvT {
  flex: var(--flex);
}

.y4rnfPIh6rF {
  flex-shrink: var(--shrink);
}

.DST3nVDkzbD {
  flex-grow: [var(--grow) ];
}

.tFTpAwduOdY {
  flex-basis: var(--basis);
}

.f99Qr7a9eTA {
  transform-origin: 50px 50px;
}

.hMeB4TV1nfZ {
  transform: translateX(12%);
}

.yuqlSxh00RX {
  transform: translateX(var(--value));
}

.FiqoHtly9WE {
  transform: translateY(12%);
}

.xOrbahiyRFY {
  transform: translateY(var(--value));
}

.DMEYkEqwJCa {
  transform: rotate(23deg)rotate(131.78deg)rotate(401grad)rotate(1.5turn);
}

.ijcRiJWX00S {
  transform: skewX(3px);
}

.H2vifKt5VBF {
  transform: skewX(var(--value));
}

.jPPYxdqUdPD {
  transform: skewY(3px);
}

.osGtFyS27tX {
  transform: skewY(var(--value));
}

.ZiwGZykFXUK {
  transform: scale(.7);
}

.GGzQBkAMzjV {
  transform: scale(var(--value));
}

.DQ0pkaIhHMD {
  transform: scaleX(.7);
}

.aPq0hK4o9pP {
  transform: scaleX(var(--value));
}

.HpfYlxb8gSG {
  transform: scaleY(.7);
}

.GlMfp7lPhIM {
  transform: scaleY(var(--value));
}

.Lk5qKJElhSJ {
  animation: 1s cubic-bezier(0, 0, .2, 1) infinite pong;
}

.IRoEV3b6f9H {
  animation: var(--value);
}

.ylxgxMrlIjR {
  scroll-margin: 7px;
}

.G1GDMBaQR3W {
  scroll-margin-left: 7px;
  scroll-margin-right: 7px;
}

.shyWWpkD5yQ {
  scroll-margin-top: 7px;
}

.Ikv5PwNI99T {
  scroll-margin-right: 7px;
}

.NkmVC3dexNC {
  scroll-margin-bottom: 7px;
}

.KrwWdR0j3VZ {
  scroll-margin-left: 7px;
}

.dIMZzXrkEaX {
  scroll-margin-top: var(--scroll-margin);
}

.lLSeUHqA0MC {
  scroll-padding: 7px;
}

.vemsPfB7FfO {
  scroll-padding-left: 7px;
  scroll-padding-right: 7px;
}

.avryJxKJIoU {
  scroll-padding-top: 7px;
  scroll-padding-bottom: 7px;
}

.VwHl4VA9IZB {
  scroll-padding-top: 7px;
}

.OR6g034cjtK {
  scroll-padding-right: 7px;
}

.MqM1T6jmdyG {
  scroll-padding-bottom: 7px;
}

.Jc8VNBlMbrJ {
  scroll-padding-left: 7px;
}

.yP0JeMrr5AL {
  scroll-padding-top: var(--scroll-padding);
}

.EcH9SVuJQ2A {
  cursor: pointer;
}

.eT4Lz5JGG0U {
  cursor: url("hand.cur") 2 2, pointer;
}

.FFFcsMzQ5jI {
  cursor: url("./path to hand.cur") 2 2, pointer;
}

.rWoIK0CeLjA {
  cursor: var(--value);
}

.Yxzuhw5GQRW {
  list-style-type: "👍";
}

.TdITvJ44y0V {
  list-style-type: var(--value);
}

.t5QMyPDSG2E {
  columns: var(--columns);
}

.RjEVbZ20TUR {
  grid-auto-columns: minmax(10px, auto);
}

.RKdrFrfvMzY {
  grid-auto-rows: minmax(10px, auto);
}

.U9dyTiaOhpP {
  grid-template-columns: 200px, repeat(auto-fill, minmax(15%, 100px)), 300px;
}

.RIWoTpPY6sQ {
  grid-template-rows: 200px, repeat(auto-fill, minmax(15%, 100px)), 300px;
}

.dDaHJDQt5OS {
  gap: 20px;
}

.WV7zOw4pxmJ {
  column-gap: 20px;
}

.Oqo3siCR21Y {
  row-gap: 20px;
}

.MD2CyxEzQpE {
  margin-left: 20cm;
}

.ZwQGUXXlKNJ {
  margin-left: calc(20%-1cm);
}

.yuWS6po6JFG {
  margin-top: 20cm;
}

.JLqonVjnskE {
  margin-top: calc(20%-1cm);
}

.hm0dAmBMINI {
  border-left-width: 0;
  border-right-width: [20cm] px;
}

.hrJHWv8G01S {
  border-left-width: 0;
  border-right-width: [calc(20%-1cm) ] px;
}

.rYdsoQ3bzHQ {
  border-bottom-width: [20cm] px;
  border-top-width: 0;
}

.fB4FTVZc4ZI {
  border-bottom-width: [calc(20%-1cm) ] px;
  border-top-width: 0;
}

.ruMgqASh2EX {
  border-radius: 11px;
}

.aW3t21W1YfF {
  border-width: 2.5px;
}

.ummR2dkY0gN {
  border-top-width: 2.5px;
}

.ezrPAerHEbP {
  border-right-width: 2.5px;
}

.L5gjkHTNENC {
  border-bottom-width: 2.5px;
}

.VKDHwfKgLSY {
  border-left-width: 2.5px;
}

.tZ8Hl8pHwNG {
  background-color: #00fc;
}

.VwflDwh3UYX {
  background-color: #7b7b7b80;
}

.lbBuchZHPEB {
  background-color: #7bffff;
}

.V4675TEWglA {
  background-color: #ff00004d;
}

.AGs5c1UtzjI {
  --tw-gradient-from: #da5b66;
  --tw-gradient-stops: var(--tw-gradient-from), #da5b66, var(--tw-gradient-to, #da5b66);
  --tw-gradient-to: #da5b66;
}

.XQomgDKVuYF {
  fill: #da5b66;
}

.L3WcRlgAIPG {
  object-position: 50%, 50%;
}

.oLEeiZpYULA {
  object-position: top, right;
}

.utMgTCKJ7GS {
  object-position: var(--position);
}

.PLF9YXQWr6K {
  padding: 7px;
}

.IcpO4R1Sj5K {
  padding-left: 7px;
  padding-right: 7px;
}

.ArkuOdL0boJ {
  padding-top: 7px;
  padding-bottom: 7px;
}

.GYFKTRnroRF {
  padding-top: 7px;
}

.D1ZY8RDJNfE {
  padding-right: 7px;
}

.HRj8QdPJy6L {
  padding-bottom: 7px;
}

.D4M88IBU7zL {
  padding-left: 7px;
}

.g4OYrCHhncH {
  padding-top: clamp(30px, 100px);
}

.BIAodNhfSaR {
  text-indent: var(--indent);
}

.bUdq4Kk6GYK {
  vertical-align: 10em;
}

.VlpfbpsSuDE {
  font-family: Georgia, serif;
}

.GpNJArsh7UJ {
  font-family: Gill Sans;
}

.kEL44J1hgpW {
  font-family: sans-serif, serif;
}

.POn7vXcRWbP {
  font-family: family-name:var(--value);
}

.EZXRBPsr2PN {
  font-family: serif, var(--value);
}

.HDR9b3rTuFM {
  font-family: Some Font, sans-serif;
}

.N4oHq92ngAP {
  font-family: Some Font, Some Other Font;
}

.cM3yk3nMc8N {
  font-family: "Some Font", var(--other-font);
}

.Ov6EtnxaRgW {
  font-family: var(--font1), var(--font2);
}

.pXvcDBplJbQ {
  font-family: invalid font because spaces;
}

.VYgn0gZanaY {
  font-size: 0;
}

.c9lvy02o4bZ {
  font-size: 2.23rem;
}

.EaVYjHtEoXD {
  font-size: length:var(--font-size);
}

.KI8zBJV0roY {
  font-size: angle:var(--angle);
}

.IhvSTKLaXKA {
  font-size: min(10vh, 100px);
}

.aHQ8RSIMDUB {
  font-weight: 300;
}

.G1yOIPgEFDA {
  font-family: number:lighter;
}

.OXmexQzjvwU {
  font-family: number:var(--value);
}

.Y8DgVVPmJXS {
  letter-spacing: var(--tracking);
}

.yvdfrcNJECD {
  font-size: black;
}

.IYVOwytfglO, .QgySyLTQpVE, .W9LZ9SABGFX {
  font-size: #7b7b7b;
}

.Qvv8Q2WudbJ {
  font-size: color:var(--color);
}

.wE8xetWUoFG {
  text-decoration: none;
}

.zk7RQnmP8CP, .kaeuEDlBlwT, .Uf7twpaf3LJ {
  text-decoration: none;
}

.bTasEguHzwO {
  text-decoration: color:var(--color);
}

.gESP2phmmQP {
  text-decoration: length:10px;
}

.vALJ7wFkBGZ {
  text-underline-offset: 10px;
}

.ojNMZangqBO {
  caret-color: #000;
}

.cSZBub1Ca2Z {
  accent-color: #bada55;
}

.Ho2FMlSxBGS {
  opacity: .5;
}

.HVtsqYl6O9G {
  box-shadow: 0 1px 2px #000;
}

.w82Hec5DyYW {
  box-shadow: shadow:var(--value);
}

.blkWw7eEBjX {
  outline-color: #000;
}

.yP2tXpo6ApW {
  outline-width: 10px;
}

.gAuANWrcaTT {
  outline-offset: 10px;
}

.RDu7FOLUOZH {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(#76ad65 + var(--tw-ring-offset-width, 0px)) var(--tw-ring-color, currentColor);
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.LiN50lANEKZ {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(color:var(--value)  + var(--tw-ring-offset-width, 0px)) var(--tw-ring-color, currentColor);
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.IqusBXo2whE {
  --tw-ring-offset-color: #76ad65;
  --tw-ring-offset-shadow: var(--tw-ring-inset, ) 0 0 0 var(--tw-ring-offset-width, 0px) #76ad65;
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow, 0 0 #0000);
}

.xtd1t6sF6iW {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(10px + var(--tw-ring-offset-width, 0px)) var(--tw-ring-color, currentColor);
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ugqQbbRm2LI {
  --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(length:(var(--value))  + var(--tw-ring-offset-width, 0px)) var(--tw-ring-color, currentColor);
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.KXMHwmIXSdW {
  --tw-ring-offset-color: #ad672f;
  --tw-ring-offset-shadow: var(--tw-ring-inset, ) 0 0 0 var(--tw-ring-offset-width, 0px) #ad672f;
  box-shadow: var(--tw-inset-shadow, 0 0 #0000), var(--tw-inset-ring-shadow, 0 0 #0000), var(--tw-ring-offset-shadow), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow, 0 0 #0000);
}

.vUpWQ9MOLqF {
  filter: blur(15px);
}

.srHCDZZUAMF {
  filter: brightness(300%);
}

.ufwMygURF3X {
  filter: contrast(2.4);
}

.kCa62ALC1HA {
  filter: 0px 1px 2px black;
}

.bKy2ZK7QJtV {
  filter: grayscale(.55);
}

.MnOJ6sutUiB {
  filter: hue-rotate(.8turn);
}

.fFaPHxkXvJS {
  filter: invert(.75);
}

.u0VYfQKviNW {
  filter: saturate(180%);
}

.n39kSzWr80C {
  filter: sepia(.2);
}

.S9GJ80EVXwQ {
  backdrop-filter: blur(11px);
}

.bTSZHk1JbXK {
  backdrop-filter: brightness(1.23);
}

.FRhSpXwPB8D {
  backdrop-filter: contrast(.87);
}

.JmXSuwu79xX {
  backdrop-filter: grayscale(.42);
}

.Jv7wD5vrxPJ {
  backdrop-filter: hue-rotate(89.9544deg);
}

.ELkJQTT49VO {
  backdrop-filter: invert(.66);
}

.MkoYuNjYEkM {
  backdrop-filter: opacity(50%);
}

.dxsYwsl77iT {
  backdrop-filter: saturate(144%);
}

.pZkQJLj0abV {
  backdrop-filter: sepia(.38);
}

.AZthOzD3KKD {
  transition-delay: var(--delay);
}

.BSHgoSI3FEQ {
  transition-duration: 2s;
}

.ddzgbAd0YhJ {
  transition-duration: var(--app-duration);
}

.g2wascwM6zP {
  will-change: var(--will-change);
}

.U5n2yBmNdHT {
  content: "hello";
}

.p061dsyW32I {
  content: attr(content-before);
}

.ogmrhgFMajM {
  content: ">";
}
