.brightness-100 {
  filter: brightness();
}

.contrast-100 {
  filter: contrast();
}

.grayscale-100 {
  filter: grayscale();
}

.hue-rotate-180 {
  filter: hue-rotate(180deg);
}

.invert-100 {
  filter: invert();
}

.opacity-50 {
  opacity: .5;
}

.saturate-100 {
  filter: saturate();
}

.sepia-100 {
  filter: sepia();
}
